
.main,
.body{
    width: 100%;
    height: 100vh;
}

.about-us-content{
    width: 90%;
    height: 100vh;
    margin: auto;
    display: flex;
    padding: 2rem 0;
}

.content-image,
.content-text{
    width: 50%;
}

.content-image{
    display: flex;
    justify-content: center;
    align-items: center;
}

.content-img{
    width: 65%;
    margin: auto;
}

.content-text{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.title{
    font-family: serif;
    font-size: var(--font-title);
    margin-bottom: 2rem;
    font-weight: 800;
    color: var(--black);
    filter: drop-shadow(2px 1px 1px var(--gray));
}

.content-description{
    font-family: var(--font-roboto);
    font-size: var(--font-body);
    width: 80%;
    margin-top: 1rem;
    color: #676767;
}
