
.main,
.body{
    width: 100%;
    height: 100vh;
}

.about-us-content{
    width: 90%;
    height: 100vh;
    margin: auto;
    display: flex;
    padding: 2rem 0;
}

.content-image,
.content-text{
    width: 50%;
}

.content-image{
    display: flex;
    justify-content: center;
    align-items: center;
}

.content-img{
    width: 65%;
    margin: auto;
}

.content-text{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.title{
    font-family: serif;
    font-size: var(--font-title);
    margin-bottom: 2rem;
    font-weight: 800;
    color: var(--black);
}

.content-description{
    font-family: var(--font-roboto);
    font-size: var(--font-body);
    width: 80%;
    margin-top: 1rem;
    color: #676767;
}

@media only screen and (max-width: 900px){

    .about-us-content{
        padding: 7rem 0;
        flex-direction: column;
    }

    .content-text{
        display: block;
    }

    .content-image{
        margin: 3rem 0;
    }

    .content-image,
    .content-text,
    .content-description{
        width: 100%;   
    }

    .content-description{
        word-spacing: 0.1rem;
        line-height: 2rem;
        text-align: justify;
        margin-bottom: 2rem;
    }

    .title{
        text-align: center;
        font-size: var(--font-subtitle);
    }

    
}
