

.background-container{
    background-image: url('../img/pexels-edwardeyer-811838.jpg');
    width: 100%;
    background-size: cover;
    background-position: center;
}

/*  HEADER */
.header{
    display: flex;
    width: 100%;
    padding: 2rem 3rem ;
    justify-content: space-between;
}

.nav-items,
.header-actions{
    display: flex;
}

.nav-items{
    list-style: none;
}

.header a{
    text-decoration: none;
    color: var(--white);
    font-family: var(--font-poppins);
    font-size: var(--font-medium);
}

.header-title{
    color: var(--white);
    font-family: var(--font-poppins);
    cursor: pointer;
}

.header i{
    color: var(--white);
    font-size: var(--font-medium);
}

.header-navigation .nav-items{
    gap: 2.5rem;
}

.nav-items li a:hover{
    color: #c5c4c4;
    cursor: pointer;
}

.header-input i{
    font-size: 1.5rem;
}


.header-input input{
    border: none;
    background: none;
    outline: none;
    width: 18rem;
    border-bottom: 2px solid var(--white);
    margin-left: 1rem;

}

.header-input input:hover,
.header-input input:focus{
    border-bottom: 2px solid var(--gray);
}

.nav-icon{
    display: flex;
    gap: 2.5rem;
    margin-left: 2.5rem;
}

.nav-icon i:hover{
    color: var(--gray);
    cursor: pointer;
}

/* BANNER */

.banner{
    width: 100%;
    padding: 14rem 0;
}

.banner-text{
    width: 60%;
    padding: 0 4rem;
}

.banner-subtitle{
    font-family: var(--font-poppins);
    font-size: var(--font-title);
    color: var(--white);
    margin-bottom: 1rem;
}

.banner-subtitle span{
    color: var(--gray);
}

.banner-description{
    font-size: var(--font-medium);
    font-family: var(--font-poppins);
    color: var(--white);
    width: 75%;
}

/* PRODUCTS */

.products{
    width: 100%;
    padding: 2rem 0;
    display: flex;
}

.arrow-left,
.arrow-right{
    font-size: var(--font-medium);
    color: #2c2c2cf2;
}

.arrow-left{
    width: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.arrow-right{
    width: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.products-content{
    width: 90%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: space-between;
}

.product-image{
    background-image: url('../img/pexels-isaacweatherly-2156327.jpg');
    width: 290px;
    background-size: cover;
    background-position: center;
    height: 330px;
    background-repeat: no-repeat;
}

.product-text{
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 0.2rem;
}

.product-title{
    font-size: var(--font-medium);
}

.value-description,
.product-description{
    font-family: var(--font-roboto);
    font-size: var(--font-body);
}

.product-stars{
    color: var(--red);
    font-size: var(--font-body);
}

.last-star{
    color: var(--gray);
}

.product-image{
    display: flex;
    justify-content: space-between;
    align-items: end;
    flex-direction: column;
}

.product-stamp{
    background: var(--red);
    width: 35%;
    height: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
    bottom: 10px;
}

.car-icon{
    display: flex;
    width: fit-content;
    padding: 1rem;
    color: #2c2c2cf2;
}

.car-icon i{
    font-size: var(--font-medium);
}

.product-stamp p{
    color: var(--white);
    font-family: var(--font-poppins);
    font-size: var(--font-body);
}


/* BANNER MARK */

.banner-mark{
    width: 100%;
    background-image: url(../img/pexels-brett-sayles-1434625.jpg);
    background-size: cover;
    padding: 16rem 0;
    background-position: center calc(50% + 60px);
    background-repeat: no-repeat;
}

#span-mark{
    font-weight: 900;
    color: var(--white);
}
