
.guitar-mark{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10rem 0 2rem 0;;
}

.title{
    font-family: var(--font-roboto);
    font-size: var(--font-medium);
    text-align: center; padding: 2rem; 
}

#product-content{
    justify-content: center;
    flex-wrap: wrap;
}

.product-load{
    background: var(--gray);
    width: 50%;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
    cursor: pointer;
}

.load-description{
    font-family: var(--font-poppins);
    font-size: var(--font-body);
    font-weight: 600;
}
