.header{
    display: flex;
    width: 100%;
    padding: 2rem 3rem;
    justify-content: space-between;
}

.bars{
    display: none;
}

.nav-items,
.header-actions{
    display: flex;
}

.nav-items{
    list-style: none;
}

.header a{
    text-decoration: none;
    color: var(--white);
    font-family: var(--font-poppins);
    font-size: var(--font-medium);
}

.header-title{
    color: var(--white);
    font-family: var(--font-poppins);
    cursor: pointer;
}

.header-title a h1{
    font-size: var(--font-medium);
}

.header i{
    color: var(--white);
    font-size: var(--font-medium);
}

.navigation .nav-items{
    gap: 2.5rem;
}

.nav-items li a:hover{
    color: var(--gray);
    cursor: pointer;
}

.header-input i{
    font-size: 1.5rem;
}


.header-input input{
    border: none;
    background: none;
    outline: none;
    width: 18rem;
    border-bottom: 2px solid var(--white);
    margin-left: 1rem;

}

.header-input input:hover,
.header-input input:focus{
    border-bottom: 2px solid var(--gray);
}

.nav-icon{
    display: flex;
    gap: 2.5rem;
    margin-left: 2.5rem;
}

.nav-icon i:hover{
    color: var(--gray);
    cursor: pointer;
}

#login,
#cadaster{
    display: none;
}

@media only screen and (max-width: 900px){
     /* MENU */
    
    
     .navigation{
        display: none;
    }
    
    #login,
    #cadaster{
        display: block;
    }

    .header{
        position: fixed;
        z-index: 1000;
        background: #3c3a3ac1;
    }
    
    #nav-icon{
        display: none;
    }

    #input-header{
        display: none;
    }

    .navigation.active{
        display: block;
    }

    #nav-items{
        position: fixed;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: start;
        padding: 20rem 0;
        gap: 2;
        top: 69px;
        background: var(--white);
        width: 100%;
        height: 100vh;
        right: 0px;
        z-index: 1000;
    }

    #nav-items a{
        color: black;
        font-weight: 500;
    }

    .bars{
        cursor: pointer;
        display: block;
    }

    .bar{
        display: block;
        width: 28px;
        height: 3px;
        background: var(--white);
        border-radius: 3px;
        margin: 5px auto;
    }
}
